doctype html
html
  head
    title PokeTree
    link(rel='stylesheet', href='index.styl')
    script(src='index.civet', type='module')
    link(rel='icon', href='favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div#app
    form
      label
        input(type="radio", name="mode", value="BST", checked)
        | BST
      |  
      label
        input(type="radio", name="mode", value="AVL")
        | AVL
      |  
      label
        input(type="radio", name="mode", value="maxheap")
        | Max&nbsp;Heap
      p
      input#command(autofocus)
      p
      label
        input(type="range", min="1", max="11", value="6")#speed
        |  speed
      br
      label.size
        input(type="checkbox")#size
        |  subtree sizes
      br
      label.height
        input(type="checkbox")#height
        |  heights
      br
      label.index
        input(type="checkbox")#index
        |  heap index
      br
      label
        input(type="radio", name="style", value="2D", checked)
        | 2D
      |  
      label
        input(type="radio", name="style", value="3D")
        | 3D
    div#about
      a(href="https://github.com/edemaine/poketree") Source Code
