doctype html
html
  head
    title PokeTree
    link(rel='stylesheet', href='index.styl')
    script(src='index.civet', type='module')
    link(rel='icon', href='favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div#app
    form
      input#command(autofocus, title="find/f, insert/ins/i/add/a, delete/del/d/remove/rem, rotatel/rotl/l, rotater/rotr/r, clear, avladd/aa/avlins/ai, avldel/ad/avlrem")
      p
      label.size
        input(type="checkbox")#size
        |  subtree sizes
      br
      label.height
        input(type="checkbox")#height
        |  heights
